* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-left {
  display: flex;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

li,
.fa-braille {
  padding: 15px;
}

.nav-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
.google-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-heading {
  font-size: 80px;
  font-weight: 500;
  display: flex;
}
input {
  width: 500px;
  height: 30px;
  border-radius: 20px;
  margin-top: 20px;
  padding-left: 30px;
}
.fa-magnifying-glass {
  position: relative;
  left: 32px;
  top: 2px;
}

.fa-microphone {
  position: relative;
  right: 30px;
  top: 2px;
}
